body {
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;

    line-height: 1.6em;
}
/*
display: flex
flex-direction: row or column; 
align-items: stretch or center or flex-end (bottom);
justify-content: flex-start/end or center;
                also space-around and space between;

justify content + align items is commonly used;
3 tools together
*/

